<%- include("./Partials/header"); -%>

    <h1>Compose</h1>

    <form action="/compose" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" name="postTitle">

        </div>
        <div class="form-group">
            <label for="post">Post</label>
            <textarea name="postBody" id="" class="form-control" cols="30" rows="10"></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
    </form>


    <%- include("./Partials/footer"); -%>